**/terraform.tfstate*
**/.terraform*
**/backend.tf
**/terraform.tfplan
**/values-*.yaml
credentials.json

# Python
*.pyc
*.txt
!*requirements.txt
!*requirements-test.txt
*.exe
*.cfg
*.sh

# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store

# BIN
.venv/bin/*
.venv/lib/*
