asyncpg==0.29.0
fastapi==0.111.0
google-cloud-firestore==2.16.0
google-cloud-aiplatform==1.53.0
langchain==0.1.20
pgvector==0.2.5
pydantic==2.9.2
uvicorn[standard]==0.29.0
cloud-sql-python-connector[asyncpg]==1.9.2
sqlalchemy==2.0.30
